.SetCounter {
    border: 3px solid #817a98;
    border-radius: 10px;
    width: 235px;
    height: 180px;
    padding: 20px;
    position: relative;
    top: 50px;
    left: -80px;
    display: block;
    text-align: center;
}

.InputModule {
    border: 3px solid #817a98;
    border-radius: 10px;
    width: 235px;
    height: 90px;
    padding-bottom: 15px;


}

.spanO{
    position: absolute;
    top: 40px;
    left: 30px;
}
.spanT{
    position: absolute;
    top: 95px;
    left: 30px;
}

.SetButtonModule{
    border: 3px solid #817a98;
    border-radius: 10px;
    width: 218px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: -10px;


}