.input {
    width: 60px;
    text-align: center;
    font-size: 15px;
    padding: 6px 5px 10px 10px;
    border: 1px solid #817a98;
    background: #6192b0;
    border-radius: 8px;
    margin: 10px;
    margin-left: 70px;
}

.error {
    width: 40px;
    text-align: center;
    font-size: 15px;
    padding: 6px 5px 10px 10px;
    border: 1px solid #817a98;
    background: #d95d79;
    border-radius: 8px;
    margin: 10px;

}